:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color-scheme: dark;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  @media screen and (max-height: 420px) {
    h3.register {
      display: none;
      
    }
    h3.register + div{
        margin-top: .25em;
    }
  }
}

