.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main > div {
  height: 80%;
  width: 80%;
  max-width: 550px;
  box-shadow: 0px 4px 18px rgba(247, 248, 249, 0.12);
}

@media (orientation: portrait) {
  .main > *:nth-child(2) {
    margin-block: 0.5em;
  }
  .main > *:nth-child(1) {
    margin-block: 0.5em;
  }
  .username, .email, .password {
        margin: .5em;
    } 
}
@media (orientation: landscape) {
  @media screen and (min-height: 420px) {
    .main > *:nth-child(1) {
      margin-block: 0.5em;
    }
  }

  @media screen and (min-height: 400px) {
    .username, .email, .password {
        margin: .25em;
    } 
  }

  
}

.username, .email, .password {
        min-width: 70%;
    } 